*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto' ,-apple-system, system-ui, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {  
  display: flex;
  width: 750px;
  height: 530px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;

  box-shadow: 1px 2px 20px #f3f3f3;

  &__sidebar {
    width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;

    background-color: #f4f6f8;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
  }
}

.field {
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
    outline: none;
  }
}

.button {
  background-color: #4dd599;
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  
  &:hover {
    background-color: darken(#4dd599, 6%)
  }

  &:active {
    background-color: darken(#4dd599, 10%)
  }

  &:disabled {
    background-color: #d8d8d8;
  }

  &--grey {
    background-color: #f4f6f8;
    color: #444444;

    &:hover {
      background-color: darken(#f4f6f8, 3%);
    }

    &:active {
      background-color: darken(#f4f6f8, 5%);
    }
  }
}